.accrual-slide {
    position: absolute;
    bottom: 0;
    z-index: 106;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--black-color);
    padding: 2%;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation-name: slide;
    animation-duration: 0.5s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.5s;
}

@keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 100vh;
    }
}

@-webkit-keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 100vh;
    }
}

.accrual-slide_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accrual-slide_header h2 {
    font-family: 'dindisplay_bold';
    font-size: 1.5em;
}

.accrual-slide_header img {
    height: 25px;
}

.accrual-slide_carousel {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    right: 100%;
}

.accrual {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.accrual_header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: stretch;
    border-Bottom: 1px solid #416cc0;
}

.accrual_header div {
    flex: 1 0 auto;
    display: flex;
    padding: 0 6% 0 6%;
}

.accrual_header_next-month {
    justify-content: end;
}

.accrual_header_activ-month {
    font-family: 'dindisplay_bold';
    justify-content: center;

}

.accrual_body {
    font-family: 'dindisplay_regular';
    font-size: 0.9em;
    flex: 1 0 auto;
    align-content: start;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 95%;
}

.accrual_body div {
    display: flex;
    border-top: 1px solid #416cc0;
    width: 100%;
    padding: 1% 0 1% 0;
}

.accrual_body_column1 {
    justify-content: start;
}

.accrual_body_column2 {
    text-align: center;
    justify-content: center;
}

.accrual_body_column3 {
    font-family: 'dindisplay_bold';
    justify-content: end;
}

.accrual_footer {
    font-family: 'dindisplay_bold';
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -2% 0 -2%;
    border-top: 1px solid #416cc0;
}

.accrual_footer span {
    margin: 2%;
}

.accrual_footer_button {
    display: flex;
    padding: 2%;
    border-radius: var(--border-radius);
    width: 80%;
    height: 50px;
    background-color: var(--green-color);
    justify-content: center;
    align-items: center;
    cursor: default;
}

@keyframes jump {
    50% {
        transform: translateX(25px);
    }

    100% {
        transform: translateX(0px);
    }

}

@keyframes touch {
    0% {
        background-color: rgba(65, 107, 192, 0.199);
    }

    100% {
        background-color: rgba(65, 107, 192, 0.808);
    }
}

#swipeMe::after {
    position: fixed;
    display: block;
    content: '';
    width: 150px;
    height: 150px;
    background-image: url('../img/swipe.svg');
    background-size: 100%;
    animation: jump 2s infinite;
}

@media only screen and (min-width: 811px) {
    #swipeMe::after {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 25%;
    }
}

@media only screen and (max-width: 810px) {

    #swipeMe::after {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 25%;
    }

}