.slideMenu {
    position: absolute;
    bottom: 0;
    z-index: 106;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--black-color);
    padding: 5%;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20%;
    animation-name: slide;
    animation-duration: 0.5s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.5s;
}

@keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 100vh;
    }
}

@-webkit-keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 100vh;
    }
}

.slideMenu::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    font-family: 'dindisplay_bold';
    font-size: 1.25em;
    align-items: center;
}

.header img {
    margin-left: auto;
    height: 30px;
}

.dataPad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.date,
.input {
    border-radius: var(--border-radius);
    padding: 2%;
}

.date {
    display: flex;
    align-items: center;
    gap: 0.5em;
    grid-row: 1 / 2;
    background-color: #1c4c6b;
}

.date img {
    height: 18px;
    margin-left: 2%;
}

.input {
    color: #666;
    grid-column: 1 / 3;
    background-color: var(--gray-color);
}

.input input {
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.orders {
    display: flex;
}

.service {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 5% 0 5%;
}

.service span {
    font-family: 'dindisplay_bold';
    grid-column: 1 / 2;
    padding: 0 5% 0;
}

.service .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.service .amount span {
    min-width: 15px;
}

.service .amount img {
    height: 15px;
}

.buttonOrder {
    font-family: 'dindisplay_regular';

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 50px;
    border-radius: var(--border-radius);
    padding: 2%;
    background-color: var(--green-color);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

@keyframes buttonBackgroundColor {
    0% {
        background-color: rgba(255, 255, 255, 0.0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.0);
    }
}

#buttonGoToMe,
#buttonGoToMe2 {
    cursor: pointer;
    animation: buttonBackgroundColor 2s infinite;
}

@keyframes buttonOrderBackgroundColor {
    0% {
        background-color: rgba(0, 153, 17, 1);
    }

    50% {
        background-color: rgba(0, 153, 17, 0.5);
    }

    100% {
        background-color: rgba(0, 153, 17, 1);
    }
}

#buttonOrderGoToMe {
    cursor: pointer;
    animation: buttonOrderBackgroundColor 2s infinite;
}

@keyframes show {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

#buttonGoToMe::before,
#buttonOrderGoToMe::before {
    font-family: 'dindisplay_regular';
    font-size: 1em;
    color: #fff;
    position: absolute;
    display: block;
    padding: 5px;
    text-align: center;
    border: 1px solid #696b92;
    background-color: var(--guide-gray-color);
    border-radius: var(--border-radius);
    content: attr(data-description);
    min-width: auto;
    width: 200px;
    cursor: default;
    z-index: 999;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 150px;
    animation-name: show;
    animation-duration: 2s;
    -webkit-animation-name: show;
    -webkit-animation-duration: 2s;
}

#buttonOrderGoToMe::before {
    bottom: 80px;
}