.slideMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #303030;
    padding: 5%;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20%;
}

.header {
    display: flex;
    font-family: 'dindisplay_bold';
    font-size: 1.25em;
    align-items: center;
}

.header img {
    margin-left: auto;
    height: 30px;
}

.dataPad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.date,
.input {
    border-radius: 10px;
    padding: 2%;
}

.date {
    display: flex;
    align-items: center;
    gap: 0.5em;
    grid-row: 1 / 2;
    background-color: #1c4c6b;
}

.date img {
    height: 18px;
    margin-left: 2%;
}

.input {
    color: #666;
    grid-column: 1 / 3;
    background-color: #3b3b3b;
}

.orders {
    display: flex;
}

.service {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 5% 0 5%;
}

.service span {
    font-family: 'dindisplay_bold';
    grid-column: 1 / 2;
    padding: 0 5% 0;
}

.service .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.service .amount span {
    min-width: 15px;
}

.service .amount img {
    height: 15px;
}