.page {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/back_main.png");
    background-size: contain;
    cursor:default;
}

.credits {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--guide-gray-color);
    z-index: 208;
}

.credits p {
    font-family: "dindisplay_regular";
    margin: 2%;
}

.button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    text-Decoration: none;
    font-Size: 1.5em;
    color: white;
    text-Align: center;
    background-color: var(--guide-gray-color);
    width: 30%;
    align-Self: center;
    border-radius: var(--border-radius);
    border: 1px solid #696b92;
    padding: 0 5% 0 5%;
    z-index: 208;
    animation-name: show;
    animation-duration: 2s;
    -webkit-animation-name: show;
    -webkit-animation-duration: 2s;
}

.credits .button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}

@keyframes show {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}