
.header {
    display: flex;
    padding: 2%;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.userInfo {
    display: flex;
    flex-direction: column;
}

.infoMenu {
    font-family: dindisplay_light;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
}

.infoButtonPad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.buttonInfo,
.buttonPay {
    font-family: dindisplay_bold;
    padding: 2%;
    margin: 0 2% 0 2%;
    border-radius: var(--border-radius);
    width: 50%;
    min-width: 100px;
    cursor: default;
}

.buttonInfo {
    border: solid 2px;
}

.buttonPay {
    background-color: var(--green-color);
}

.navBar {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--gray-color);
    border-radius: 10px 10px 0 0;
    z-index: 105;
}

.icon {
    height: 30px;
    max-width: 30px;
}

.navBar .button {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: default;
}

  @keyframes backgroundColor {
    0% {background-color: rgba(155, 155, 155, 0.0);}
    50% {background-color: rgba(155, 155, 155, 0.5);}
    100% {background-color: rgba(155, 155, 155, 0.0);}
  }

#buttonGoToMe {
    color: #dbdbdb;
    animation: backgroundColor 3s infinite;
    cursor: pointer;

}

@keyframes show {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
  }
   
  @-webkit-keyframes show {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
  }

#buttonGoToMe:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 120px;
    animation-name: show;
    animation-duration: 2s;
    -webkit-animation-name: show;
    -webkit-animation-duration: 2s; 
    display: block;
    padding: 5px;
    border: 1px solid #696b92;
    background-color: var(--guide-gray-color);
    border-radius: var(--border-radius);
    content: attr(data-description);
    bottom: 80px;
    width: 200px;
    cursor: default;

}

