.slide-menu,
.order-item_rating-slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 85%;
    height: 85%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    background-color: var(--black-color);
    padding: 5%;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation-name: slide;
    animation-duration: 0.5s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.5s;
    z-index: 207;
}

@keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 85%;
    }
}

@-webkit-keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 85%;
    }
}

.slide-menu::-webkit-scrollbar {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5%;
    align-items: center;
}

.header span {
    font-family: 'dindisplay_bold';
    font-size: 1.5em;
}

.header_title {
    grid-column: 1 / 3;
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 2% 3% 2% 3%;
}

.header_title img {
    height: 25px;
    margin-right: 5%;
    cursor: pointer;
}

.header_button-pad {
    grid-column: 1 / 3;
    justify-self: center;
    align-items: center;
    width: 70%;
    display: flex;
    border-radius: var(--border-radius);
    background-color: var(--gray-color);
    color: #727983;

}

.header_button-pad_button {
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.header_button-pad_button_active {
    background-color: var(--black-color);
}

.order-item {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-bottom: 5%;
    border-radius: var(--border-radius);
}

.order-item_status {
    font-family: 'dindisplay_bold';
    display: flex;
    align-items: center;
    gap: 2%
}

.order-item_status img {
    height: 30px;
}

.order-item_info {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
    justify-content: space-between;
}

.order-item_done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-item_done_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    height: 26px;
    width: 35%;
}

.order-item_done_rating img {
    height: 20px;
}

.shading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 34, 22, 0.5);
    z-index: 208;
}

.order-item_rating-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2% 5% 0;
    height: auto;
    z-index: 207;
}

.order-item_rating-slide_header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: var(--border-radius);
}

.order-item_rating-slide_header img {
    width: 30px;
}

.order-item_rating-slide_rating {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 36px;
    border-radius: var(--border-radius);
}

.order-item_rating-slide_rating img {
    height: 30px;
}

.order-item_rating-slide_comment {
    width: 100%;
    height: 65px;
    padding: 2%;
    margin: 5%;
    border-radius: var(--border-radius);
    background-color: var(--gray-color);
}

.order-item_rating-slide_button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin: 5%;
    padding: 2%;
    border-radius: var(--border-radius);
    background-color: var(--green-color);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

#buttonGoToMe::before {
    font-family: 'dindisplay_regular';
    font-size: 1em;
    color: #fff;
    position: fixed;
    display: block;
    padding: 5px;
    text-align: center;
    border: 1px solid #696b92;
    background-color: var(--guide-gray-color);
    border-radius: var(--border-radius);
    content: attr(data-description);
    min-width: auto;
    width: 200px;
    cursor: default;
    z-index: 999;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25%;
    animation-name: show;
    animation-duration: 2s;
    -webkit-animation-name: show;
    -webkit-animation-duration: 2s;
}

.order-item_rating-slide #buttonGoToMe::before {
    bottom: 50%;
}