.service-slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: var(--black-color);
    padding: 5%;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20%;
    animation-name: slide;
    animation-duration: 0.5s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.5s;
}

@keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 90vh;
    }
}

@-webkit-keyframes slide {
    from {
        max-height: 0;
    }

    to {
        max-height: 90vh;
    }
}

.service-slide::-webkit-scrollbar {
    display: none;
}

.service_header,
.service_list-header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    height: auto;
}


.service_header span,
.service_list-header span {
    font-family: 'dindisplay_bold';
    font-size: 1.5em;
}

.service_header_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--black-color);
    padding: 2% 3% 2% 3%;
}

.service_list-header_button {
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 2% 3% 2% 3%;
}

.service_header_button img,
.service_list-header_button img {
    height: 25px;
    margin-right: 5%;
}

.service-slide_search {
    font-family: 'dindisplay_light';
    display: flex;
    width: 100%;
    padding: 2% 5% 2%;
    border-radius: var(--border-radius);
    background-color: var(--gray-color);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #5a5a5a;
    margin-bottom: 10%;
}

.service-slide_search img {
    height: 20px;
    margin-right: 2%;
}

.service-slide_button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50%;
    gap: 0.5em;
}

.service-slide_button {
    font-family: 'dindisplay_light';
    font-size: 0.9em;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    width: 30%;
}

.service-slide_button img {
    align-self: center;
    border-radius: var(--border-radius);
    background-color: var(--gray-color);
    padding: 10%;
    height: 70px;
    width: 70px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);

}

.service-slide_orders-buttons-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    display: flex;
    width: 80%;
    flex-direction: row;
    align-content: center;
    text-align: center;
    gap: 1em;
}

.service-slide_orders-button {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--gray-color);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 70%;
}

.service-slide_basket-active-button {
    position: sticky;
    width: 70%;
}


.service-slide_basket-button {
    visibility: hidden;
    position: static;
    display: flex;
    align-items: center;
    gap: 0.5em;
    bottom: 0;
    right: 0;
    border-radius: var(--border-radius);
    padding: 2%;
    width: 25%;
    height: 50px;
    background-color: rgb(0, 153, 17);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.service-slide_basket-active {
    visibility: visible;
}

.service-slide_basket-button img {
    height: 35px;
}
